.main_section{
    @include center;
    background-color: #00a6fb; 
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 100%, 0 80%);
    padding: 110px 0 170px 0;
        &--title, &--subtitle{
            @include fontStyle(#fff, 3.5rem, 700,center);
            text-shadow: .4px .4px #7eccf6;
        }
        &--subtitle{
            font-size: 1.7rem;
            text-shadow: .4px .4px #7eccf6;
            margin: 20px 0 10px 0;
        }
        &__contact_list{
            list-style: none;
                &--element{
                    @include fontStyle(#fff, 1.3rem, 400, center);
                    text-shadow: .4px .4px #7eccf6;
                    margin: 2px 0;
                }
        }
}

@media screen and (max-width: $minDesktop) {
    .main_section{
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 50% 100%, 0 85%);
    }
}
@media screen and (max-width: $mobile) {
    .main_section{
        padding: 40px 5px 70px 5px;
        clip-path: polygon(0 0, 100% 0%, 100% 93%, 50% 100%, 0 93%);
            &--title, &--subtitle{
                font-size: 2.7rem;
            }
            &--subtitle{
                font-size: 1.4rem;
            }
            &--element{
                font-size: .9rem;
            }
    }
}

